In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
barcelona = pd.read_csv('../datasets/barcelona/tomslee_airbnb_barcelona_0020_2014-05-20.csv')

In [4]:
barcelona.head()

,room_id,host_id,room_type,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,minstay,latitude,longitude,last_modified
0,2918,3257,Private room,NaN,Ciutat Vella,1,5.0,1,1.0,38.0,2,41.378576,2.188436,2014-05-21 03:12:56.726
1,10132,34580,Private room,NaN,Ciutat Vella,124,5.0,2,1.0,66.0,2,41.385880,2.185098,2014-05-21 04:45:10.698
2,10938,39550,Entire home/apt,NaN,Nou Barris,17,5.0,4,2.0,108.0,3,41.432447,2.170980,2014-05-21 18:41:27.195
3,11194,41161,Private room,NaN,Ciutat Vella,16,4.5,2,1.0,61.0,2,41.383905,2.181047,2014-05-21 05:59:13.561
4,11318,38836,Entire home/apt,NaN,Ciutat Vella,11,4.0,3,2.0,92.0,7,41.387442,2.177791,2014-05-21 18:03:23.574

In [5]:
barcelona.shape

(10441, 14)

In [6]:
barcelona['room_id'].value_counts().count()

10441

In [7]:
barcelona['borough'].value_counts()

Series([], Name: borough, dtype: int64)

In [8]:
barcelona2 = pd.read_csv('../datasets/barcelona/tomslee_airbnb_barcelona_0051_2014-09-04.csv')
barcelona2.head()

,room_id,host_id,room_type,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,minstay,latitude,longitude,last_modified
0,10938,39550,Entire home/apt,NaN,Nou Barris,19,5.0,4,2.0,102.0,3,41.432447,2.170980,2014-09-20 09:56:22.954
1,11194,41161,Private room,NaN,Ciutat Vella,30,4.5,2,1.0,58.0,2,41.383905,2.181047,2014-09-20 09:56:30.838
2,11368,42188,Entire home/apt,NaN,Ciutat Vella,14,5.0,4,1.0,124.0,1,41.387507,2.178608,2014-09-19 08:26:07.909
3,16627,58227,Private room,NaN,Sant Martí,43,4.0,2,1.0,70.0,2,41.392873,2.187158,2014-09-20 20:55:37.068
4,18666,71615,Entire home/apt,NaN,Sant Martí,0,NaN,6,2.0,135.0,2,41.408886,2.185545,2014-09-20 19:46:26.072

In [9]:
compare = pd.DataFrame(barcelona2['room_id'])
compare['room_id'].isin(barcelona['room_id'])
compare['isin?'] = compare['room_id'].isin(barcelona['room_id'])
compare

       room_id  isin?
0        10938   True
1        11194   True
2        11368   True
3        16627   True
4        18666   True
...        ...    ...
10408  3792313  False
10409  3792430  False
10410  3792852  False
10411  3794186  False
10412  3794348  False

[10413 rows x 2 columns]

In [10]:
barcelona.loc[barcelona['room_id'] == 11194]

,room_id,host_id,room_type,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,minstay,latitude,longitude,last_modified
3,11194,41161,Private room,NaN,Ciutat Vella,16,4.5,2,1.0,61.0,2,41.383905,2.181047,2014-05-21 05:59:13.561

In [11]:
barcelona2.loc[barcelona2['room_id'] == 11194]

,room_id,host_id,room_type,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,minstay,latitude,longitude,last_modified
1,11194,41161,Private room,NaN,Ciutat Vella,30,4.5,2,1.0,58.0,2,41.383905,2.181047,2014-09-20 09:56:30.838

In [12]:
a = pd.concat([barcelona[barcelona['room_id'] == 11194], barcelona2[barcelona2['room_id'] == 11194]], axis=0)
a

,room_id,host_id,room_type,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,minstay,latitude,longitude,last_modified
3,11194,41161,Private room,NaN,Ciutat Vella,16,4.5,2,1.0,61.0,2,41.383905,2.181047,2014-05-21 05:59:13.561
1,11194,41161,Private room,NaN,Ciutat Vella,30,4.5,2,1.0,58.0,2,41.383905,2.181047,2014-09-20 09:56:30.838

In [13]:
brc_files = os.listdir('../datasets/barcelona')
brc_files

['tomslee_airbnb_barcelona_0020_2014-05-20.csv',
 'tomslee_airbnb_barcelona_0051_2014-09-04.csv',
 'tomslee_airbnb_barcelona_0070_2015-01-14.csv',
 'tomslee_airbnb_barcelona_0114_2015-04-29.csv',
 'tomslee_airbnb_barcelona_0199_2015-11-06.csv',
 'tomslee_airbnb_barcelona_0442_2016-05-30.csv',
 'tomslee_airbnb_barcelona_0501_2016-07-25.csv',
 'tomslee_airbnb_barcelona_0546_2016-08-28.csv',
 'tomslee_airbnb_barcelona_0620_2016-10-22.csv',
 'tomslee_airbnb_barcelona_0690_2016-12-10.csv',
 'tomslee_airbnb_barcelona_0808_2017-01-18.csv',
 'tomslee_airbnb_barcelona_0891_2017-02-18.csv',
 'tomslee_airbnb_barcelona_0999_2017-03-27.csv',
 'tomslee_airbnb_barcelona_1076_2017-04-15.csv',
 'tomslee_airbnb_barcelona_1145_2017-04-24.csv',
 'tomslee_airbnb_barcelona_1225_2017-05-12.csv',
 'tomslee_airbnb_barcelona_1349_2017-06-15.csv',
 'tomslee_airbnb_barcelona_1477_2017-07-23.csv']

In [37]:
barcelona = pd.concat([pd.read_csv('../datasets/barcelona/' + brc_files[i]) for i in range(0, 13)], axis = 0, ignore_index = True)
barcelona

,room_id,host_id,room_type,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,minstay,latitude,longitude,last_modified
0,2918,3257,Private room,NaN,Ciutat Vella,1,5.0,1.0,1.0,38.0,2.0,41.378576,2.188436,2014-05-21 03:12:56.726
1,10132,34580,Private room,NaN,Ciutat Vella,124,5.0,2.0,1.0,66.0,2.0,41.385880,2.185098,2014-05-21 04:45:10.698
2,10938,39550,Entire home/apt,NaN,Nou Barris,17,5.0,4.0,2.0,108.0,3.0,41.432447,2.170980,2014-05-21 18:41:27.195
3,11194,41161,Private room,NaN,Ciutat Vella,16,4.5,2.0,1.0,61.0,2.0,41.383905,2.181047,2014-05-21 05:59:13.561
4,11318,38836,Entire home/apt,NaN,Ciutat Vella,11,4.0,3.0,2.0,92.0,7.0,41.387442,2.177791,2014-05-21 18:03:23.574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196386,5176854,17107294,Private room,NaN,Ciutat Vella,200,5.0,2.0,1.0,10.0,NaN,41.381816,2.175044,2017-03-27 18:23:11.775950
196387,3710601,18931097,Private room,NaN,Eixample,235,5.0,1.0,1.0,20.0,NaN,41.386274,2.147601,2017-03-27 18:23:11.773226
196388,16435102,78586651,Private room,NaN,Ciutat Vella,29,5.0,1.0,1.0,15.0,NaN,41.376695,2.172097,2017-03-27 18:23:11.770416
196389,14587906,90438579,Private room,NaN,Gràcia,54,5.0,1.0,1.0,31.0,NaN,41.411388,2.161807,2017-03-27 18:23:11.766993
196390,6906086,5157262,Private room,NaN,Eixample,124,4.5,1.0,1.0,32.0,NaN,41.379871,2.152762,2017-03-27 18:23:10.358802

In [38]:
barcelona = barcelona.sort_values(['room_id', 'last_modified'])
barcelona.head(50)

,room_id,host_id,room_type,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,minstay,latitude,longitude,last_modified
0,2918,3257,Private room,NaN,Ciutat Vella,1,5.0,1.0,1.0,38.0,2.0,41.378576,2.188436,2014-05-21 03:12:56.726
56323,7670,20617,Entire home/apt,NaN,Ciutat Vella,119,4.5,2.0,NaN,55.0,2.0,41.386942,2.183842,2015-11-13 18:58:48.009865
131058,7670,20617,Entire home/apt,NaN,Ciutat Vella,143,4.5,2.0,0.0,55.0,NaN,41.386942,2.183842,2016-12-11 08:33:37.512214
1,10132,34580,Private room,NaN,Ciutat Vella,124,5.0,2.0,1.0,66.0,2.0,41.385880,2.185098,2014-05-21 04:45:10.698
2,10938,39550,Entire home/apt,NaN,Nou Barris,17,5.0,4.0,2.0,108.0,3.0,41.432447,2.170980,2014-05-21 18:41:27.195
10441,10938,39550,Entire home/apt,NaN,Nou Barris,19,5.0,4.0,2.0,102.0,3.0,41.432447,2.170980,2014-09-20 09:56:22.954
20854,10938,39550,Entire home/apt,NaN,Nou Barris,19,5.0,4.0,2.0,102.0,3.0,41.432447,2.170980,2015-01-14 21:46:00.806
33321,10938,39550,Entire home/apt,NaN,Nou Barris,19,5.0,4.0,2.0,105.0,3.0,41.432447,2.170980,2015-05-02 21:19:47.655
71290,10938,39550,Entire home/apt,NaN,Nou Barris,19,5.0,4.0,2.0,85.0,3.0,41.432447,2.170980,2016-05-31 00:54:54.300357
3,11194,41161,Private room,NaN,Ciutat Vella,16,4.5,2.0,1.0,61.0,2.0,41.383905,2.181047,2014-05-21 05:59:13.561
10442,11194,41161,Private room,NaN,Ciutat Vella,30,4.5,2.0,1.0,58.0,2.0,41.383905,2.181047,2014-09-20 09:56:30.838
20855,11194,41161,Private room,NaN,Ciutat Vella,34,4.5,2.0,1.0,58.0,2.0,41.383905,2.181047,2015-01-14 21:46:05.377
33322,11194,41161,Private room,NaN,Ciutat Vella,37,4.5,2.0,1.0,49.0,2.0,41.383905,2.181047,2015-05-02 21:19:54.407
56025,11194,41161,Private room,NaN,Ciutat Vella,63,4.5,2.0,1.0,39.0,2.0,41.383905,2.181047,2015-11-13 14:04:57.539955
64406,11194,41161,Private room,NaN,Ciutat Vella,71,4.5,2.0,1.0,40.0,2.0,41.383905,2.181047,2016-05-31 00:26:38.604274
91053,11194,41161,Private room,NaN,Ciutat Vella,79,4.5,2.0,1.0,39.0,2.0,41.383905,2.181047,2016-07-25 09:15:37.742144
107928,11194,41161,Private room,NaN,Ciutat Vella,81,4.5,2.0,1.0,41.0,2.0,41.383905,2.181047,2016-08-28 08:28:19.853893
115667,11194,41161,Private room,NaN,Ciutat Vella,89,4.5,2.0,1.0,39.0,2.0,41.383905,2.181047,2016-10-22 05:56:13.835019
141458,11194,41161,Private room,NaN,Ciutat Vella,91,4.5,2.0,1.0,39.0,NaN,41.383905,2.181047,2016-12-10 05:00:26.316166
159232,11194,41161,Private room,NaN,Ciutat Vella,91,4.5,2.0,1.0,38.0,NaN,41.383905,2.181047,2017-01-18 12:25:08.743684
176603,11194,41161,Private room,NaN,Ciutat Vella,91,4.5,2.0,1.0,38.0,NaN,41.383905,2.181047,2017-02-18 04:35:43.477958
194313,11194,41161,Private room,NaN,Ciutat Vella,91,4.5,2.0,1.0,39.0,NaN,41.383905,2.181047,2017-03-27 18:46:29.356702
4,11318,38836,Entire home/apt,NaN,Ciutat Vella,11,4.0,3.0,2.0,92.0,7.0,41.387442,2.177791,2014-05-21 18:03:23.574
46505,11318,38836,Entire home/apt,NaN,Ciutat Vella,14,4.5,3.0,2.0,44.0,30.0,41.387442,2.177791,2015-11-06 04:11:11.538389
5,11368,42188,Entire home/apt,NaN,Ciutat Vella,13,4.5,4.0,1.0,131.0,1.0,41.387507,2.178608,2014-05-21 18:18:12.198
10443,11368,42188,Entire home/apt,NaN,Ciutat Vella,14,5.0,4.0,1.0,124.0,1.0,41.387507,2.178608,2014-09-19 08:26:07.909
20856,11368,42188,Entire home/apt,NaN,Ciutat Vella,17,4.5,4.0,1.0,124.0,1.0,41.387507,2.178608,2015-01-14 17:51:00.873
33323,11368,42188,Entire home/apt,NaN,Ciutat Vella,18,4.5,4.0,1.0,3333.0,30.0,41.387507,2.178608,2015-05-02 14:34:15.349
48784,11368,42188,Entire home/apt,NaN,Ciutat Vella,20,4.5,4.0,1.0,96.0,2.0,41.387507,2.178608,2015-11-06 05:39:08.987623
102635,11368,42188,Entire home/apt,NaN,Ciutat Vella,23,4.5,4.0,1.0,116.0,2.0,41.387507,2.178608,2016-08-28 04:58:48.040338
148892,11368,42188,Entire home/apt,NaN,Ciutat Vella,24,4.5,4.0,1.0,110.0,NaN,41.387507,2.178608,2017-01-19 00:31:01.224462
166939,11368,42188,Entire home/apt,NaN,Ciutat Vella,25,4.5,4.0,1.0,110.0,NaN,41.387507,2.178608,2017-02-18 15:57:34.815565
6,15090,59369,Entire home/apt,NaN,Ciutat Vella,89,4.5,6.0,1.0,108.0,2.0,41.383600,2.181639,2014-05-21 19:09:13.638
20857,15090,59369,Entire home/apt,NaN,Ciutat Vella,97,4.0,6.0,1.0,102.0,2.0,41.383600,2.181639,2015-01-15 00:17:44.216
33324,15090,59369,Entire home/apt,NaN,Ciutat Vella,101,4.0,NaN,1.0,105.0,2.0,41.383600,2.181639,2015-05-03 01:47:35.364
51923,15090,59369,Entire home/apt,NaN,Ciutat Vella,114,4.0,NaN,1.0,84.0,2.0,41.383706,2.181556,2015-11-06 20:16:37.462965
68214,15090,59369,Entire home/apt,NaN,Ciutat Vella,129,4.0,5.0,1.0,85.0,2.0,41.383706,2.181556,2016-05-31 05:33:36.367179
83290,15090,59369,Entire home/apt,NaN,Ciutat Vella,138,4.0,5.0,1.0,85.0,2.0,41.383706,2.181556,2016-07-26 01:46:26.274895
94152,15090,59369,Entire home/apt,NaN,Ciutat Vella,139,4.0,5.0,1.0,87.0,2.0,41.383706,2.181556,2016-08-28 19:25:49.485066
118925,15090,59369,Entire home/apt,NaN,Ciutat Vella,143,4.0,2.0,1.0,101.0,2.0,41.383706,2.181556,2016-10-22 15:24:53.714214
7,16195,63080,Entire home/apt,NaN,Ciutat Vella,87,5.0,2.0,1.0,152.0,3.0,41.383817,2.179957,2014-05-21 02:07:13.025
20858,16195,63080,Entire home/apt,NaN,Ciutat Vella,110,5.0,2.0,1.0,160.0,3.0,41.383817,2.179957,2015-01-14 16:15:11.783
33325,16195,63080,Entire home/apt,NaN,Ciutat Vella,124,5.0,2.0,1.0,161.0,NaN,41.383817,2.179957,2015-05-02 11:31:14.870
8,16627,58227,Private room,NaN,Sant Martí,39,4.5,3.0,1.0,46.0,2.0,41.392873,2.187158,2014-05-21 19:11:26.707
10444,16627,58227,Private room,NaN,Sant Martí,43,4.0,2.0,1.0,70.0,2.0,41.392873,2.187158,2014-09-20 20:55:37.068
20859,16627,58227,Private room,NaN,Sant Martí,44,4.0,2.0,1.0,70.0,2.0,41.392873,2.187158,2015-01-15 00:20:31.905
33326,16627,58227,Private room,NaN,Sant Martí,44,4.0,2.0,1.0,39.0,2.0,41.392873,2.187158,2015-05-03 01:52:12.822
9,18477,71164,Entire home/apt,NaN,Eixample,60,5.0,4.0,2.0,108.0,3.0,41.377683,2.154875,2014-05-21 18:01:02.631
33327,18477,71164,Entire home/apt,NaN,Eixample,61,5.0,4.0,2.0,1961.0,30.0,41.377683,2.154875,2015-05-02 09:42:01.230
50366,18477,71164,Entire home/apt,NaN,Eixample,64,5.0,4.0,2.0,35.0,30.0,41.377683,2.154875,2015-11-06 13:13:35.452722

In [88]:
def rate_change(x):
    x = list(x)
    if len(x) > 1:
        aggregator = 0
        for i in range(len(x)-1):
            aggregator += (x[i+1] - x[i])
        return aggregator/len(x)
    else: return np.nan

#sr = barcelona['price'][barcelona['room_id'] == 10938]
#print(list(sr))
#rate_change(list(sr))
price_change = barcelona.groupby('room_id')['price'].agg(rate_change)

In [89]:
price_change.head(50)

room_id
2918            NaN
7670       0.000000
10132           NaN
10938     -4.600000
11194     -1.692308
11318    -24.000000
11368     -2.625000
15090     -0.875000
16195      3.000000
16627     -1.750000
18477     -5.666667
18653      4.888889
18654           NaN
18666     -3.076923
18674     -2.461538
19116           NaN
19157     -2.000000
19246      1.384615
19428    308.000000
19431    271.750000
19501    296.250000
19502      6.333333
19504           NaN
19552      0.666667
19954     -3.200000
19959     -2.750000
20345     -0.583333
20535           NaN
20591           NaN
20901           NaN
21158     -0.545455
21605     -3.000000
21974     -3.727273
23404           NaN
23852           NaN
23935           NaN
24023           NaN
25457     -3.250000
25536           NaN
25786     -0.181818
26283           NaN
26846      4.000000
27186           NaN
28331    -11.857143
29392           NaN
30622     29.000000
30670     -9.000000
31377     -0.923077
31380     -0.769231
31422           NaN
Name: price, dtype: float64

In [49]:
barcelona.dtypes

room_id                   int64
host_id                   int64
room_type                object
borough                 float64
neighborhood             object
reviews                   int64
overall_satisfaction    float64
accommodates            float64
bedrooms                float64
price                   float64
minstay                 float64
latitude                float64
longitude               float64
last_modified            object
dtype: object